body {
  background-color: #fffbf7;
}
h1 {
  color: #025157;
  font-size: 6rem;
}

.features h3 {
  color: #025157;
}

.banner img{
  width: 100%;
}

p{
  color: #46484c;
}

.promocional{
  color: #8b8b8bcc;
}

button{
  background-color: #025157;
  color: #fffbf7;
}



button,input{
  border-radius: 5px;
  padding: 5px;
  margin: 0px;
}


.header {
  margin: 40px 20px 0;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}

.header > * {
  display: inline-block;
  font-size: 16px;
  vertical-align:middle;
  height: 100%;
  line-height: 45px;
}

li,ul{
  display: inline;
}

.logo {
  width: 15%;
}

.logo>img {
  width: 15%;
}

.navbar {
  background-color: #fffbf7;
}

.navbar-light .nav-item .nav-link {
  color: #025157;
}

.navbar-light .navbar-toggler {
  border-color: #025157;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(3, 81, 77)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.actions {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}

.actions>* {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}

.main {
  margin-top: 140px;
  text-align: center;
}

/*img{
  display: block;
  margin: auto;
}*/

.promo{
  display: flex;
  width: 70%;
  margin: 100px auto;
}

.promo > article > *{
  display: flex;
}

.explanatory-video{
  flex-direction: column;
  padding-right: 20px;
}

.explanatory-video > img{
  margin: auto;
}



.publish h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}


.publish > form {
  display: flex;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

.features {
  display: grid;
  /*grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 330px);*/
  grid-template:repeat(2, 330px)/repeat(2, 1fr);
  background-color: #025157;
  padding: 150px;
  
}

.feature-card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border-radius: 10px;
  background-color: #fffbf7;
  margin: 20px;
  border: 10px;
}

.feature-card h3{
  color: black;
  font-family: Arial, Helvetica;
}

.feature-card a{
  color: #67b54b;
  font-family: Arial, Helvetica;
  font-weight: bolder;
}

/*.feature-card-right > div{
  background-color: blue;
}

.feature-card-left > div{
  background-color: pink;
}*/

.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}

.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}

.carousel-inner>img{
  width: 10px;
  height: 10px;
}
.carousel-inner{
  background-color: #fffbf7;
  border-radius: 50px;
  width: 400px;
  height: 900px;
}

.card-footer{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.card-footer > figure{
  width: 10%;
}

.card-footer > div{
  width: 90%;
}

.circle > img{
  width: 80%;
  position: relative;
  top: 35%;
  
}

.circle{
  background-color: #f9da73;
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  top: -50px;
  left: 250px;
}

.card-body{
  position:flex;
}

div.card-head{
  width: 100%;
  height: 50%;
}

.card-head>img{
  width: 100%;
  height: 100%;
}

.carousel-indicators{
  bottom:-5%
}

.card-body > button{
  margin-top: 15px;
}