/* @media (breakpoint) {
    //Aplica estilos particulares para este tamaño 
  } */

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  .actions,
  .navbar {
    text-align: center;
  }

  .main {
    margin-top: 130px;
  }

  h1{
    font-size: 1.5rem;
  }

  .main {
    margin-top: 100px;
  }

  .banner > img {
    width: 100%;
  }

  .promo{
    display: inline;
  }

  .publish > form {
    flex-direction: column;
  }
  .publish > form > div {
    height: 50px;
    margin-top: 10px;
  }

  .publish > form > div > input {
    width: 65%;
  }

  .promo {
    flex-direction: column;
    max-width: 90%;
  }

  .explanatory-video > video {
    width: 100%;
  }
  
  .publish {
    margin-top: 10px;
  }

  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .features {
    grid-template-columns: 1fr;
    background-color: #025157;
    padding: 10px;
  }

  .feature-card{
    font-size: 1.1rem;
  }
}
/** dispositivos pequeños en vista landscape (horizontal) 
@media (min-width: 576px and max-width: 767px) {
  
}

/** dispositivos medianos (tablets)
@media (min-width: 768px and max-width: 991px) {
  
}

/** dispositivos grandes (desktops) 
@media (min-width: 992px and max-width: 1199px) {
  
}
*/

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
}

@media (max-width: 991px) {
  .actions,
  .navbar {
    text-align: center;
  }
}